@media (max-width: 400px) {
    .pokemon-slider {
        background-color: aqua;
        padding: 0 15px;
        gap: 15px;
        
    }
    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-pokemon {
        height: 480;
    }
    .cartao .imagem-pokemon {
        max-height: 230px;        
    }
    .cartao .inf .nome {
        max-width: 50%;
        font-size: 18px;
    }
    .cartao .inf .hp {
        font-size: 14px;
    }

}